# Python ignores
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.pkl
*.h5

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# IDE/editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Secrets / Environment files
.env
.inv
.env.*
.inv.*

# Test / Coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/
